#ifndef MQTT_CONFIG_H
#define MQTT_CONFIG_H

#define MQTT_BROKER_URI "mqtts://192.168.1.100:8883"
#define MQTT_DEVICE_ID "DEV-ESP32C6-001"
#define MQTT_PUBLISH_INTERVAL_MS 5000

#endif // MQTT_CONFIG_H
